<!DOCTYPE html>
<html lang="en">

<head>

    <div th:replace="admin/fragments/head :: headContent"></div>
</head>

<body>
    <div class="wrapper">
        <div th:replace="admin/fragments/sidebar:: sidebarContent"></div>

        <div class="main">

            <div th:replace="admin/fragments/navbar :: navbarContent"></div>


            <main class="content">
                <div class="container-fluid p-0">
                    <div class="d-flex justify-content-between mb-2">
                        <div>
                            <h1 class="h3 text-primary">teams</h1>
                        </div>
                        <button type="button" class="btn btn-sm btn-primary " data-bs-toggle="modal"
                            data-bs-target="#addTeamModal">Add New Team</button>
                    </div>

                    <div class="tab-pane fade show active py-2 px-1" style="background-color: rgba(255, 255, 255, 0.8);"
                        id="team-accounts" role="tabpanel" titleledby="general1-list">

                        <table class="table table-striped" id="teams-table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th class="no-sort"><i data-feather="image"></i></th>
                                    <th scope="col">Name</th>
                                    <th class="no-sort" scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr th:each="team : ${teams}">
                                    <td th:text="${team.id}"></td>
                                    <td class="logo">
                                        <a>
                                            <img style="height: 62px !important; width:62px !important;" th:src="${team.logo}" alt="">
                                        </a>
                                    </td>
                                    <td th:text="${team.name}"></td>
                                    <td>
                                        <a role="button" class="delete-team" th:id="${team.id}">
                                            <i data-feather="trash-2"></i>
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="modal" id="addTeamModal" tabindex="-1" aria-labelledby="addTeamModalLabel"
                    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content rounded-0">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addTeamModalLabel">Add New Team</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body ">
                                <!-- Team registration form -->
                                <form id="addTeamForm" class="needs-validation">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="logo" class="form-label">Logo</label>
                                        <input type="file" class="form-control" id="logo" name="logo">
                                    </div>
                                    <div class="mb-3">
                                        <label for="logo_url" class="form-label">Logo(from url)</label>
                                        <input type="text" class="form-control" id="logo_url" name="logo_url">
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="addTeam()">Add Team</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            <div th:replace="admin/fragments/footer :: footerContent"></div>
        </div>
    </div>




    <script>


        $(function () {
            $('#teams-table').dataTable({
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false
                }],
                responsive: true,
                dom: 'lrtip',
                "paging": false,
                "info": false,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search..."
                }
            });
            $(".delete-team").click(function (e) {
                var team_id = $(this).attr("id");
                send(`api/teams/${team_id}`, {}, "DELETE").done(function (data) {
                    Success(data.message, "DONE!!")
                    reloadPage(500)
                }).fail(function (err, d) {
                    error(`${err.responseJSON.message}`, err.statusText)
                })
            })
        })
        function addTeam() {
            var form = document.getElementById("addTeamForm")
            if (form.checkValidity() === true) {

                var team_data = getFormData("addTeamForm");
                team_data = convertToFormData(team_data);
                $.ajax({
                    url: 'api/teams',
                    type: 'POST',
                    data: team_data,
                    processData: false,  // Important: Prevent jQuery from processing the data
                    contentType: false,  // Important: Prevent jQuery from setting contentType
                    success: function (response) {
                        $("#addTeamModal").modal("hide")
                        success("New Team was addded Successfully!!", "DONE!!")
                        reloadPage(500)
                    },
                    error: function (xhr, status, err) {
                        error(`${xhr.responseText}`, xhr.statusText)
                    }
                });
            }
            $(form).addClass("was-validated");
        }
    </script>

</body>

</html>