<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Babour Fields Ticket booking system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
</head>

<body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
                src="/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-container">
                <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
    <div class="page">

        <!-- Page Header-->
    <header class="section page-header" style="background: #444141 !important;">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic bg-dark" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
            data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
            data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static"
            data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
            data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand"><a href="/"><img class="brand-logo-light"
                        src="/images/Highlanders_logo.png" alt="" width="140" height="57"
                        srcset="/images/Highlanders_logo.png 2x" /></a></div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
  
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/games">Games</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/about-us.html">About</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contacts.html">Contacts</a>
                      </li>
                    </ul>
                    <a class="button button-white button-sm" href="/games">book now</a>
                  </div>
                </div>
                <a class="button button-white button-sm" href="/games">book now</a>
              </div>
            </div>
          </nav>
        </div>
      </header>
        
        <!-- Error -->
        <section class="section section-lg bg-default">
            <div class="container py-5 mt-5">
                <div class="row justify-content-center text-center pt-5">
                    <div class="col-md-9 col-lg-7 wow-outer">
                        <div class="wow slideInDown">
                            <h2>Error 404</h2>
                            <p class="text-opacity-80">
                                Sorry the resource you are looking for is not found!!
                            </p>
                            <p>
                                <a href="/" class="button button-primary">Return to Home</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Page Footer-->
        <footer class="section footer-minimal context-dark">
            <div class="container wow-outer">
                <div class="wow fadeIn">
                    <div class="row row-60">
                        <div class="col-12"><a href="/"><img src="/images/Highlanders_logo.png" alt="" width="140"
                                    height="57" srcset="/images/Highlanders_logo.png 2x" /></a></div>
                        <div class="col-12">
                            <ul class="footer-minimal-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="/contacts.html">Contacts</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="/about-us.html">About</a></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <ul class="social-list">
                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook"
                                        href="https://www.facebook.com/highlanders.co.zw/"></a></li>

                                <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter"
                                        href="#"></a></li>

                            </ul>
                        </div>
                    </div>
                    <p class="rights"><span>&copy;&nbsp; </span>
                        <span class="copyright-year"></span>
                        <span>&nbsp;</span><span>BarbourFields Stadium</span><span>.&nbsp;</span><span>
                            All Rights Reserved.</span><span>&nbsp;</span>
                        <a href="#">
                            Privacy Policy</a>.
                    </p>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>